<div class="card" (click)="onCardClick()">
  <div class="card-part card-part-title">
    <img class="status-indicator" [attr.src]="'/images/card-priority-' + statusCard + '.png'" alt="priority" />
    <span class="card-title">{{ titre }}</span>
  </div>
  <div class="card-part card-part-id">
    <span>{{ ticketId }}</span>
  </div>
  <div class="card-part card-part-manager">
    <span>{{ manager }}</span>
  </div>
  <button class="delete-btn" (click)="onDelete($event)">Delete</button>
</div>

<app-delete-card 
  *ngIf="showConfirmPopup" 
  message="Voulez-vous vraiment supprimer cette carte ?"
  [cardToDelId]="this.ticketId" 
  (confirm)="onConfirmDelete()" 
  (cancel)="onCancelDelete()"
>
</app-delete-card>