@use '../../../variables.scss' as var;

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  background-color: var.$dark;

  &:hover {
    background-color: var.$lighter-dark;
  }
}

.card-part {
  display: flex;
  align-items: center;
}

.card-part-title {
  flex: 2;
}

.card-part-id,
.card-part-manager {
  flex: 1;
  text-align: center;
}

.status-indicator {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  object-fit: cover;
}

.card-title {
  font-size: 0.95rem;
  font-weight: 500;
  color: #fff;
}
