<div class="modal-overlay">
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">&#10005;</span>

    <div class="modal-left">
      <input class="field title" type="text" [(ngModel)]="newTicket.titre" placeholder="Card name" />
      <textarea class="field resume" [(ngModel)]="newTicket.resume" placeholder="Task resume"></textarea>
    </div>

    <div class="modal-right">
      <div class="option">
        <label class="option-label">Workspace</label>
        <select class="workspace-select" [(ngModel)]="selectedWorkspace" (change)="updateBoards()">
          @for (workspace of workspaces; track workspace) {
            <option [ngValue]="workspace">
              {{ workspace.displayName || "No workspace"}}
            </option>
          }
        </select>
      </div>
      <div class="option">
        <label class="option-label">Priorité</label>
        <select [(ngModel)]="newTicket.statusCard">
          <option value="normal">Normal</option>
          <option value="minor">Minor</option>
          <option value="medium">Medium</option>
          <option value="critical">Critical</option>
          <option value="blocking">Blocking</option>
        </select>
      </div>
      <div class="option">
        <label class="option-label">Manager</label>
        <select class="member-select" [(ngModel)]="selectedMember">
          @for (member of members; track member) {
            <option [ngValue]="member">
              {{ member.fullName || "No member"}}
            </option>
          }
        </select>
      </div>
      <div class="option">
        <label class="option-label">Board</label>
        <select class="board-select" [(ngModel)]="selectedBoard">
          @for (board of boards; track board) {
            <option [value]="board">
              {{ board.name || "No boards for this workspace" }}
            </option>
          }
        </select>
      </div>

      <div class="modal-footer">
        <button class="valid-btn" (click)="buttonCreateTicket()" [disabled]="!newTicket.titre">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
