@use '../../../variables.scss' as var;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    background: var.$dark;
    border: 2px solid var.$lighter-dark;
    padding: 20px;
    border-radius: var.$radius;
    width: 85%;

    .view-ticket-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background: none;
        color: var.$white;
        cursor: pointer;
        transition: color 0.2s ease;
        border: none;
        font-size: var.$h2-size;

        &:hover {
          color: var.$purple;
        }
      }
    }

    #edit-content-modal {
      input {
        padding: 10px 32px 10px 10px;
        border-radius: var.$radius;
        border: none;
        color: var.$white;
        background: var.$lighter-dark;
        width: 100%;

        &::placeholder {
          color: var.$grey;
          font-size: var.$h3-size;
        }
      }

      .modal-left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        textarea {
          background: var.$lighter-dark;
          color: var.$white;
          border-radius: var.$radius;
          height: 100%;
          padding: 10px;
          border: 1px solid var.$lighter-dark;
          outline: none;
          resize: none;
          transition: border 0.3s ease;

          &:focus {
            border: 1px solid var.$light-purple;
          }

          &::placeholder {
            color: var.$grey;
            font-size: var.$p-size;
            font-family: Roboto, 'Helvetica Neue', sans-serif;
          }
        }
      }

      .modal-right {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .option {
          display: flex;
          flex-direction: column;

          p {
            background: var.$lighter-dark;
            padding: 10px 32px 10px 10px;
            border-radius: var.$radius;
            margin-top: 0.5rem;
          }
        }

        .modal-actions {
          margin-top: 10px;
          display: flex;
          justify-content: flex-end;
          gap: 1rem;

          button {
            background: var.$light-purple;
            padding: 10px 32px 10px 10px;
            color: var.$white;
            border-radius: var.$radius;
            border: 1px solid var.$lighter-dark;
            width: 100%;
            height: 100%;

            &:hover {
              background: var.$light-dark-hover;
              border-color: var.$light-dark-hover;
            }
          }

          button:disabled {
            border: 1px solid var.$dark;
            color: var.$light-purple;
            cursor: not-allowed;
            opacity: 0.6;
          }
        }
      }
    }
  }
}



//.close-btn {
//  position: absolute;
//  top: 10px;
//  right: 15px;
//  font-size: 22px;
//  color: var.$light-purple;
//  cursor: pointer;
//  transition: color 0.2s ease;
//  &:hover {
//    color: var.$purple;
//  }
//}



// en mode édition


.title {
  min-height: 40px;
}

.option-value {
  width: 100%;
  background: var.$lighter-dark;
  border: 1px solid var.$purple;
  outline: none;
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
}

.difficulty-indicator {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  object-fit: cover;
}

.modal-footer {
  margin-top: auto;
  width: 100%;
}

.valid-btn {
  display: block;
  width: 100%;
  background: var.$light-purple;
  border: 1px solid var.$light-purple;
  border-radius: 5px;
  color: var.$white;
  padding: 8px 24px;
  cursor: pointer;
  transition: background 0.2s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var.$dark;
  border: 1px solid var.$lighter-dark;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  z-index: 10;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-menu li:hover {
  background: var.$lighter-dark;
}

@media screen and (min-width: 850px) {
  .modal-overlay {
    .modal-content {
      max-width: 700px;

      #edit-content-modal {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
      }

      .modal-right {
        width: 40%;
      }

      .modal-left {
        width: 60%;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .modal-overlay {
    .modal-content {
      #edit-content-modal {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
      }

      .modal-right {
        width: 40%;
      }

      .modal-left {
        width: 60%;
      }
    }
  }
}
