<div class="modal-overlay">
  <div class="modal-content">
    <div class="view-ticket-title">
      <h2>Edit ticket</h2>
      <button class="close-btn" (click)="closeModal()">&#10005;</button>
    </div>
    <div id="edit-content-modal">
      <div class="modal-left">
        <label class="option-label">Ticket name</label>
        <input
          class="field"
          type="text"
          [(ngModel)]="ticket.name"
          placeholder="Card name"
        />
        <label class="option-label">Description</label>
        <textarea
          class="field desc"
          [(ngModel)]="ticket.desc"
          placeholder="Task desc"
        ></textarea>
      </div>

      <div class="modal-right">
        <div class="option">
          <label class="option-label">Workspace</label>
          <p>{{ ticket.organization }}</p>
        </div>

        <div class="option">
          <label class="option-label">Board</label>
          <p>{{ ticket.board.name }}</p>
        </div>

        <div class="option">
          <label class="option-label">Priority</label>
          <select
            [(ngModel)]="ticket.statusCard"
            (ngModelChange)="selectOption('statusCard', $event)"
          >
            <option value="normal">Normal</option>
            <option value="minor">Minor</option>
            <option value="medium">Medium</option>
            <option value="critical">Critical</option>
            <option value="blocking">Blocking</option>
          </select>
        </div>

        <div class="option">
          <label class="option-label">Member</label>
          <select
            class="board-select"
            [ngModel]="ticket.manager"
            (ngModelChange)="selectOption('manager', $event)"
          >
            <option [ngValue]="'Not assigned'">Not assigned</option>
            <option [ngValue]="'Manager1'">Manager1</option>
            <option [ngValue]="'Manager2'">Manager2</option>
          </select>
        </div>

        <div class="modal-actions">
          <button
            class="valid-btn"
            (click)="validModal()"
            [disabled]="!ticket.name"
          >
            Valid
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
