@use '../../../variables.scss' as var;

#card-list {
  background-color: var.$lighter-dark;
  border-radius: 10px;
  //border: 0.01px solid var.$white;
  display: flex;
  height: 80px;
  margin-block: 0.3rem;
  margin-inline: 0.5rem;
  overflow: hidden;

  &:hover {
    background: var.$light-dark-hover;
    cursor: grab;
  }

  #card-list-description {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    overflow: hidden;
  }

  svg {
    background-color: var.$white;
    border-radius: 10px 0 0 10px;
    width: 0.5rem;
    flex-shrink: 0;
  }
}
