@use '../../../variables.scss' as var;

div {
  margin: 1rem;

  button {
    width: 100%;
    height: 25px;
    background-color: var.$lighter-dark;
    border: none;
    border-radius: 5px;
    color: var.$white;
    font-size: var.$p-size;

    &:hover {
      background-color: var.$light-dark-hover;
    }
  }

  h2 {
    font-size: var.$h2-size;
  }
}
