<div class="list-container">
  <div class="list-header">
    <ng-container *ngIf="!isEditingTitle; else editTitle">
      <h2 (click)="editTitleMode()" class="editable-title">
        {{ list.name }}
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M17 4a2.12 2.12 0 0 1 0 3l-9.5 9.5l-4 1l1-3.944l9.504-9.552a2.116 2.116 0 0 1 2.864-.125zm-1.5 2.5l1 1" stroke-width="1"/></svg>
      </h2>
    </ng-container>
    <ng-template #editTitle>
      <input
        #editInput
        type="text"
        [(ngModel)]="list.name"
        (blur)="saveTitle()"
        (keydown.enter)="saveTitle()"
      />
    </ng-template>

    <div class="dropdown-container" #dropdownContainer>
      <button (click)="toggleMenu()" class="menu-button">⋯</button>
      <div *ngIf="isMenuOpen" class="menu-dropdown">
        <button class="delete-button" (click)="deleteList()">
          Delete
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.5 4.5h10v12a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2zm5-2a2 2 0 0 1 1.995 1.85l.005.15h-4a2 2 0 0 1 2-2m-7 2h14m-9 3v8m4-8v8" stroke-width="1"/></svg>
        </button>
        <button (click)="moveList('left')">
          Move left
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M7.499 6.497L3.5 10.499l4 4.001m9-4h-13" stroke-width="1"/></svg>
        </button>
        <button (click)="moveList('right')">
          Move right
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m13.5 6.497l4 4.002l-4 4.001m-9-4h13" stroke-width="1"/></svg>
        </button>
      </div>

    </div>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="cards()"
    (cdkDropListDropped)="drop($event)"
    class="drop-container"
  >
    <div *ngIf="cards().length === 0 && (isDragging.isDragging$ | async)" class="empty-dropzone">
      Deposit your card here
    </div>
    <div
      *ngFor="let card of cards()"
      cdkDrag
      (cdkDragStarted)="onDragStarted(card)"
      (cdkDragEnded)="onDragEnded(card)"
      (cdkDragMoved)="onCardDragMoved($event)"
    >
      <ng-template cdkDragPreview>
        <div class="card-preview">
          <app-card-list [card]="card"></app-card-list>
        </div>
      </ng-template>
      <ng-template cdkDragPlaceholder>
        <div class="card-placeholder"></div>
      </ng-template>
      <app-card-list [card]="card"></app-card-list>
    </div>
  </div>
  <button (click)="openTicketModal()">+</button>
</div>


<app-create-ticket-modal #createTicketModal></app-create-ticket-modal>
