@use '../../../variables.scss' as var;

.list-container {
  background-color: var.$dark-less-dark;
  border-radius: 8px;
  padding:  0.5rem 0.2rem 0.5rem 0.2rem;
}

div {

  button {
    width: 95%;
    height: 25px;
    background-color: var.$lighter-dark;
    border: none;
    border-radius: 5px;
    color: var.$white;
    font-size: var.$p-size;
    margin: 0 0 0 5px;

    &:hover {
      background-color: var.$light-dark-hover;
    }
  }

  h2 {
    font-size: var.$h2-size;
    padding-left: 0.5rem;
  }

  .card-preview {
  }

  .card-placeholder {
    background-color: var.$lighter-dark;
    border-radius: 10px;
    display: flex;
    min-width: 250px;
    height: 80px;
    margin-block: 0.3rem;
  }

  .drop-container {
    width: 268px;
    padding-block: 0.5rem;
    border: 1px dashed transparent;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
  }

  .empty-dropzone {
    border: 2px dashed var.$grey;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$grey;
    margin-bottom: 0.5rem;
  }

  .drop-container .cdk-drag {
    transition: transform 0.3s ease;
  }

  .list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
  }

  .menu-button {
    background: none;
    width: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .menu-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var.$lighter-dark;
    border: 1px solid var.$grey;
    border-radius: 4px;
    z-index: 100;
    min-width: 150px;

    button {
      background: none;
      border: none;
      color: var.$white;
      width: 100%;
      text-align: left;
      padding: 0.5rem;
      margin: 0;
      display: flex;
      align-items: center;

      &:hover {
        background-color: var.$light-dark-hover;
      }
    }
  }

  .list-header input {
    font-size: var.$h2-size;
    color: var.$white;
    background-color: var.$lighter-dark;
    border: 1px solid var.$grey;
    border-radius: 4px;
    outline: none;

    &:focus {
      border-color: var.$light-dark-hover;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  .menu-dropdown button.delete-button {
    color: #b60000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

}
