@use '../../../variables.scss' as var;

* {
  background-color: var.$dark !important;
}

div {
  width: 60px;
  transition: width 0.3s ease-in-out;
  background-color: var.$dark;
  height: 100dvh;
  border-right: 1px solid var.$lighter-dark;

  button {
    border: none;
    padding: 1rem;
  }

  nav {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;

    a {
      padding: 0 1rem;
      color: var.$white;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      span {
        margin-left: 1rem;
        white-space: nowrap;
        overflow: hidden;
        max-width: 0;
        opacity: 0;
        transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out;
      }

      &:hover span {
        color: var.$light-purple;
      }
    }
  }
}

div.expanded {
  width: 250px;

  nav {
    a {
      span {
        max-width: 200px;
        opacity: 1;
      }
    }
  }
}
