@use './variables.scss' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$dark;
  color: var.$white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-sign-in {
  width: 100%;
}
