<div id="kanban-selectors">
  <div *ngIf="_getDataService.loading()"><app-loading /></div>
    <div class="selectors">
      <label>Workspace</label>
      <div class="selector">
      <select class="workspace-select"
              [ngModel]="_getDataService.selectedWorkspace()"
              (ngModelChange)="_getDataService.setWorkspace($event)">
        @for (workspace of _getDataService.workspaces(); track workspace) {
          <option [ngValue]="workspace">
            {{ workspace.displayName }}
          </option>
        }
      </select>
      <button>+</button>
      </div>
  </div>

  <div class="selectors">
    <label>Board</label>
    <div class="selector">
      <select class="board-select"
              [ngModel]="_getDataService.selectedBoard()"
              (ngModelChange)="_getDataService.setBoard($event)">
        @for (board of _getDataService.boards(); track board) {
          <option [ngValue]="board">
            {{ board.name }}
          </option>
        }
      </select>
      <button>+</button>
    </div>
  </div>
</div>

<div id="kanban-lists" cdkDropListGroup #kanbanContainer>
  <app-list
    *ngFor="let list of _getDataService.getAllListsInArray()"
    [list]="list"
    (cardDragMoved)="onDragMoved($event)"
    (moveListEvent)="onMoveList($event)"
    (deleteListEvent)="onDeleteList($event)">
  </app-list>
</div>

