<div id="kanban">
  <div class="kanban">
    <label for="workspace">Workspace</label>
    <select id="workspace">
      <option value="T-DEV">T-DEV</option>
      <option value="B-DEV">B-DEV</option>
      <option value="X-DEV">X-DEV</option>
    </select>
  </div>
  <div class="kanban">
    <label for="workspace">Board</label>
    <select id="workspace">
      <option value="T-DEV">T-DEV</option>
      <option value="B-DEV">B-DEV</option>
      <option value="X-DEV">X-DEV</option>
    </select>
  </div>
  <div id="kanban-lists">
    <app-list></app-list>
    <app-list></app-list>
    <app-list></app-list>
  </div>
</div>
