@use '../../../variables.scss' as var;

#kanban-selectors {
  div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  #board-selector {
    max-width: 260px;
  }

  .selectors {
    margin: 1rem;

    .selector {
      display: flex;
      flex-direction: row;

      button {
        margin: 0.5rem 0.5rem 0;
        padding: 0 1rem;
        border-radius: var.$radius;
        border: none;
        background: var.$lighter-dark;
        color: var.$white;

        &:hover {
          background-color: var.$light-dark-hover;
        }
      }
    }
  }
}

#kanban-lists {
  display: flex;
  overflow-y: scroll;
}
