@use '../../../variables.scss' as var;

.loading, .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  height: 100vh;
}

.logo-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: -200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-part {
  width: 80px;
  opacity: 0;
  animation: logoSlideCycle 2.5s ease-in-out infinite;
}

.logo-part:not(:first-child) {
  margin-left: -40px;
}

.logo-part1 {
  animation-delay: 0.6s;
  z-index: 3;
}

.logo-part2 {
  animation-delay: 0.3s;
  z-index: 2;
}

.logo-part3 {
  animation-delay: 0s;
  z-index: 1;
}

@keyframes logoSlideCycle {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  67% {
    transform: translateX(0);
    opacity: 1;
  }
  76% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#kanban-selectors {
  div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  #board-selector {
    max-width: 260px;
  }

  .selectors {
    margin: 1rem;

    .selector {
      display: flex;
      flex-direction: row;

      button {
        margin: 0.5rem 0 0 0.5rem;
        padding: 10px;
        border-radius: var.$radius;
        border: none;
        background: var.$lighter-dark;
        color: var.$white;

        &:hover {
          background-color: var.$light-dark-hover;
        }
      }
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
    }
    .menu-button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }
    .menu-dropdown {
      position: absolute;
      top: calc(100% + 5px);
      right: 0;
      background-color: var.$lighter-dark;
      border: 1px solid var.$grey;
      border-radius: 8px;
      z-index: 100;
      min-width: 150px;
    }
    .menu-dropdown button {
      background: none;
      border: none;
      color: var.$white;
      width: 100%;
      text-align: left;
      padding: 0.5rem;
      margin: 0;
      display: flex;
      align-items: center;
    }
    .menu-dropdown button:hover {
      background-color: var.$light-dark-hover;
    }

    .menu-dropdown button.delete-button {
      color: #b60000;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .delete-icon {
      width: 16px;
      height: 16px;
    }

  }
}



#kanban-lists {
  display: flex;
  overflow-y: scroll;
}
