<div class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">✖</span>

        <div class="modal-left">
            <div class="field title">
                {{ ticket?.titre || 'Card name' }}
            </div>
            <div class="field resume">
                {{ ticket?.resume || 'Task resume' }}
            </div>
        </div>

        <div class="modal-right">
            <div class="option">
                <span class="option-label">Workspace</span>
                <span class="option-value">{{ ticket?.workspace || 'T-DEV' }}</span>
            </div>
            <div class="option">
                <span class="option-label">Priorité</span>
                <span class="option-value">{{ ticket?.statusCard || 'Normal' }}</span>
            </div>
            <div class="option">
                <span class="option-label">Manager</span>
                <span class="option-value">{{ ticket?.manager || 'username' }}</span>
            </div>
            <div class="option">
                <span class="option-label">Board</span>
                <span class="option-value">{{ ticket?.board || 'Board name' }}</span>
            </div>

            <div class="modal-footer">
                <button class="edit-btn">Edit</button>
            </div>
        </div>
    </div>
</div>
