@use '../../../variables.scss' as var;

.loading, .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  height: 100vh;
}

.logo-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: -200px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-part {
  width: 80px;
  opacity: 0;
  animation: logoSlideCycle 2.5s ease-in-out infinite;
}

.logo-part:not(:first-child) {
  margin-left: -40px;
}

.logo-part1 {
  animation-delay: 0.6s;
  z-index: 3;
}

.logo-part2 {
  animation-delay: 0.3s;
  z-index: 2;
}

.logo-part3 {
  animation-delay: 0s;
  z-index: 1;
}

@keyframes logoSlideCycle {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  67% {
    transform: translateX(0);
    opacity: 1;
  }
  76% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.all-cards-page {
  width: 100%;
  font-family: Arial, sans-serif;

  #all-cards-selector {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.tickets-container {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
  background: var.$lighter-dark;
  border-radius: var.$radius;
  overflow: hidden;

  tr {
    background-color: var.$dark;
  }
}

.tickets-table thead {
  background: #2a2933;
}

.tickets-table th,
.tickets-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var.$lighter-dark;
}

.tickets-table th {
  background-color: var.$dark;
  font-weight: var.$semibold;
  font-size: 14px;
  padding: 4px 4px 4px 12px;
  color: var.$grey;
}

.new-tickets-btn {
  background: var.$light-purple;
  color: var.$white;
  border: none;
  border-radius: 5px;
  padding: 6px 32px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.tickets-title {
  font-size: var.$h3-size;
  font-weight: 500;
}
