<div class="all-cards-page">
  <div *ngIf="loading" class="loading">
    <div class="logo-loading">
      <div class="logo-container">
        <img src="/images/Logo_1.png" alt="Logo Part 1" class="logo-part logo-part1" />
        <img src="/images/Logo_2.png" alt="Logo Part 2" class="logo-part logo-part2" />
        <img src="/images/Logo_3.png" alt="Logo Part 3" class="logo-part logo-part3" />
      </div>
    </div>
    <p class="loading-text">Loading...</p>
  </div>

  <div *ngIf="!loading" [@fadeInAnimation]>
    <div id="all-cards-selector">
      <label>Workspace</label>
      <select class="workspace-select"
              [(ngModel)]="selectedWorkspace"
              (ngModelChange)="loadCards()">
        <option *ngFor="let workspace of workspaces" [ngValue]="workspace">
          {{ workspace.displayName }}
        </option>
      </select>
    </div>

    <div class="ticket-header">
      <h2 class="tickets-title">Tickets {{ tickets.length }}</h2>
      <button class="new-tickets-btn" (click)="openCreateModal()">
        New ticket
      </button>
    </div>

    <div class="tickets-container">
      <table class="tickets-table">
        <thead>
        <tr>
          <th>Ticket</th>
          <th>ID</th>
          <th>Manager</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of tickets">
          <td colspan="3">
            <app-card
              [titre]="ticket.titre"
              [statusCard]="ticket.statusCard"
              [ticketId]="ticket.ticketId"
              [manager]="ticket.manager"
              (cardClick)="openModal(ticket)"
            ></app-card>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <app-modal-create *ngIf="isCreateMode" [selectedWorkspaceFromMain]="selectedWorkspace"
                      [allWorkspacesFromMain]="workspaces" [allBoardsFromMain]="boards" (close)="closeCreateModal()"></app-modal-create>
  </div>
</div>
