@use '../../../variables.scss' as var;

.all-cards-page {
  width: 100%;
  font-family: Arial, sans-serif;

  #all-cards-selector {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.tickets-container {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
  background: var.$lighter-dark;
  border-radius: var.$radius;
  overflow: hidden;

  tr {
    background-color: var.$dark;
  }
}

.tickets-table thead {
  background: #2a2933;
}

.tickets-table th,
.tickets-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var.$lighter-dark;
}

.tickets-table th {
  background-color: var.$dark;
  font-weight: var.$semibold;
  font-size: 14px;
  padding: 4px 4px 4px 12px;
  color: var.$grey;
}

.new-tickets-btn {
  background: var.$light-purple;
  color: var.$white;
  border: none;
  border-radius: 5px;
  padding: 6px 32px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.tickets-title {
  font-size: var.$h3-size;
  font-weight: 500;
}
